<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<title>Octa Hub</title>
<meta charset="UTF-8">
</head>
<body>
	<section class="section-container" layout:fragment="content"> <!-- Page content-->
	<div class="content-wrapper">
		<div class="content-heading">
			<div>
				Adicionar nova task<small>Homine controle de cliente.</small>
			</div>
		</div>
		<!-- START card-->
		<div class="card card-default">
			<div class="card-header">Controle Cliente</div>
			<div class="card-body">
				<form class="form-horizontal" action="#" th:action="@{/pages/add-controle-cliente}"
					th:object="${controleClienteForm}" method="post">

					<fieldset class="last-child">
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Cliente</label>
							<div class="col-md-10">
								<select class="custom-select custom-select-lg mb-3" th:field="*{clienteId}">
									<option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:utext="${cliente.nome}" />
								</select>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="input-id-1">Numero Chamado</label>
							<div class="col-md-10">
								<input class="form-control" id="input-id-1" type="text" th:field="*{numeroChamado}">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="input-id-1">Motivo</label>
							<div class="col-md-10">
								<input class="form-control" id="input-id-1" type="text" th:field="*{motivo}">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="input-id-1">Usuário Atuante</label>
							<div class="col-md-10">
								<input class="form-control" id="input-id-1" type="text" th:field="*{usuarioAtuante}">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="input-id-1">Core</label>
							<div class="col-md-10">
								<input class="form-control" id="input-id-1" type="text" th:field="*{core}">
							</div>
						</div>
					</fieldset>
					<fieldset class="last-child">
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Consultor</label>
							<div class="col-md-10">
								<select class="custom-select custom-select-lg mb-3" th:field="*{consultorId}">
									<option th:each="consultor : ${consultores}" th:value="${consultor.id}"
										th:utext="${consultor.nome}" />
								</select>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="input-id-1">Cr Aplicada</label>
							<div class="col-md-10">
								<input class="form-control" id="input-id-1" type="text" th:field="*{crAplicada}">
							</div>
						</div>
					</fieldset>
					<button class="btn btn-labeled btn-success mb-2" type="submit">
						<span class="btn-label"><i class="fa fa-check"></i></span>Salvar
					</button>
				</form>
			</div>
		</div>
		<!-- END card-->
	</div>

	</section>
</body>
</html>